.clients {
  gap: 30px 26px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

  @include desktop {
    gap: 30px;
  }

  &__logo {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 52px;
    @include desktop {
      max-width: 170px;
      padding: 16px 32px;
    }
    &:is(:hover, :focus) {
      border-color: $highlight-color;
    }

    & > &-img {
      fill: #afb1b8;
      transition: fill, border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:is(:hover, :focus) > &-img {
      fill: $highlight-color;
    }
  }
}
