.header-navigation {
  display: none;
  margin: 0px;

  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    justify-content: unset;
  }
  @include tablet {
    justify-content: unset;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  padding: 7px 0;
  margin: 0 auto;

  // @include tablet {
  //   padding: 21px 15px;
  // }
  // @include desktop {
  //   padding: 24px 0 25px;
  // }
}

.header-contact {
  display: flex;
  flex-direction: column;

  // margin: 0px;
  // gap: 30px;
  // list-style: none;

  @include tablet {
    // flex-direction: column;
    gap: 10px;
  }
  @include desktop {
    flex-direction: row;
    font-size: 14px;
    line-height: 1.14px;
  }

  &__link {
    // display: flex;
    flex-direction: column;
    color: $secondary-color;
    cursor: pointer;
    letter-spacing: 0.02em;
    line-height: 1.14;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;

    // padding: 0px 10px 0px 50px;
    align-items: center;
    gap: 8px;
    transition-property: color;
  }

  .header-navigation &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link:focus,
  &__link:hover {
    color: $highlight-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:focus,
  &__link:hover svg {
    fill: $highlight-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon-mailto {
    fill: $secondary-color;
    padding: 34px 10px 34px 0px;
  }

  &__icon-smartphone {
    fill: $secondary-color;
    padding: 33px 10px 31px 0px;
  }
}

.menu {
  display: flex;
  // margin: 0px;
  align-items: center;
  gap: 46px;
  color: #000000;

  @include tablet {
    flex-direction: row;
    margin-left: 83px;
  }
  @include desktop {
    flex-direction: row;
    margin-left: 93px;
  }

  &__nav {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  &__link-nav {
    color: $main-color;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.14;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    // display: flex;
    // margin: 32px 46px 32px 0px;
    transition-property: color;
    position: relative;
  }

  &__link-nav:hover,
  &__link-nav:focus {
    color: $highlight-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__is-on {
    // position: relative;
    color: $highlight-color;
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background: $highlight-color;
      @include tablet {
        top: 37px;
      }
      @include desktop {
        top: 46px;
      }
    }
  }

  // &__is-on::after {
  //   content: '';
  //   position: absolute;
  //   background: $highlight-color;
  //   border-radius: 2px;
  //   width: 100%;
  //   height: 4px;
  //   margin-top: 46px;
  // }
}
