.join-us {
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 1.14;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;

  @include tablet {
    margin-top: 12px;
    margin-bottom: 20px;
  }
  @include desktop {
    margin-top: 12px;
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__container {
    gap: 10px;
    display: flex;
    flex-direction: row;
  }

  &__icon {
    fill: #afb1b8;
    background-color: #ffffff1a;
    padding: 14px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    transition-property: fill, background-color;
  }

  &__icon:focus,
  &__icon:hover {
    background-color: $highlight-color;
    fill: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @include desktop {
    margin-top: 12px;
  }
}
