.main_box {
  background-color: #2f303a;
  background-image: url('../images/img10.jpg'), linear-gradient(to right, #2f303a 40%, transparent);
  background-position: center;

  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;

  padding: 118px 0;
  @include tablet {
    padding: 118px 0;
    background-size: cover;
  }

  @include desktop {
    padding: 200px 0;

    background-size: cover;
  }

  &__title {
    display: flex;
    padding: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    line-height: 1.615;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;

    text-transform: uppercase;
    @include tablet {
      font-size: 26px;
      line-height: 1.615;
    }

    @include desktop {
      padding: 0 252px;
      font-size: 44px;
      line-height: 1.364;
    }
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main_box {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img10@2x.jpg);
  }
}
