.menu-toggle {
  background: none;
  border: none;
}

@include tablet {
  .burger__mobile-hide {
    display: none;
  }
}
@include desktop {
  .burger__mobile-hide {
    display: none;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 48px 83px 48px 40px;
  background-color: white;
  transform: translateX(-100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    transform: translateX(0);
  }

  &__item {
    text-decoration: none;
  }

  & .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  &__icon {
    fill: #212121;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon:hover,
  &__icon--close:hover {
    fill: $highlight-color;
  }

  &__icon--close {
    transition-property: transform;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__list {
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    text-decoration: none;
    padding: 8px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    color: #212121;
  }

  &__link:hover {
    color: #2196f3;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
  }

  &__tel {
    margin-top: 32px;
    margin-bottom: 32px;
    text-decoration: none;
  }

  &__tel--link {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
  }

  &__mail {
    margin-bottom: 64px;
    text-decoration: none;
  }

  &__mail--link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: silver;
    text-decoration: none;
  }

  &__socials {
    display: flex;
    max-width: 357px;
    text-decoration: none;
  }

  &__socials--item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;
  }

  &__socials--item:last-child {
    border-right: none;
  }
  &__socials--item:first-child {
    padding-left: 0;
  }

  &__socials--link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
