.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.6s linear, opacity 0.6s linear;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal {
  transition: transform 0.6s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  box-sizing: border-box;


&__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  transition-property: fill, background-color;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}

&__close-button:hover,
&__close-button:focus,
&__close-icon:hover,
&__close-icon:focus {
  background-color: $highlight-color;
  fill: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

&__header {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 2px;
}
}