// .backdrop {
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   transition: visibility 0.6s linear, opacity 0.6s linear;
//   background-color: rgba(0, 0, 0, 0.2);
// }

// .is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0);
// }

// .is-hidden {
//   pointer-events: none;
//   visibility: hidden;
//   opacity: 0;
// }

// .modal {
//   transition: transform 0.6s linear;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%) scale(1);
//   width: 528px;
//   min-height: 450px;
//   background: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
//   padding: 40px;
//   box-sizing: border-box;
//  @include desktop {
//   max-width: 528px;
//  }

// &__close-button {
//   position: absolute;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   top: 8px;
//   right: 8px;
//   background: transparent;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border-radius: 50%;
//   cursor: pointer;
//   padding: 5px;
//   transition-property: fill, background-color;
//   box-sizing: border-box;
//   width: 30px;
//   height: 30px;
// }

// &__close-button:hover,
// &__close-button:focus,
// &__close-icon:hover,
// &__close-icon:focus {
//   background-color: $highlight-color;
//   fill: #ffffff;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// &__header {
//   font-family: Roboto;
//   font-size: 20px;
//   font-weight: 700;
//   line-height: 1.15;
//   letter-spacing: 0.03em;
//   text-align: center;
//   margin-bottom: 2px;
// }
// }

.backdrop {
  display: flex;
  padding: 93px 15px;
  justify-content: center;
  position: fixed;
  // min-height: 609px;
  // min-width: 320px;
  inset: 0;

  @include tablet {
    align-items: center;
  }

  @include desktop {
    align-items: center;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-delay: 500ms;
}

.is-hidden .modal {
  transform: scale(0);
  opacity: 0;
}

.modal {
  padding: 40px;
  display: block;
  position: relative;
  min-width: 320px;
  max-width: 450px;
  min-height: 609px;
  max-height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;

  @include desktop {
    max-width: 528px;
    width: 100%;
  }

  &__close-btn {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      // background-color: transparent;
      fill: $highlight-color; /* Kolor tła po najechaniu myszką */
    }

    & ~ svg:hover {
      fill: $highlight-color;
    }
  }

  // &__close-btn:hover,
  // &__close-btn:focus {
  //   // &__close-icon:hover,
  //   // &__close-icon:focus {
  //   background-color: #ffffff;
  //   fill: $highlight-color;
  //   transition-duration: 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // }

  &__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input-label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.01em;
    color: rgba(33, 33, 33, 0.2);
    margin-bottom: 4px;
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    min-height: 40px;
    width: 100%;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;

    &:focus {
      border-color: $highlight-color;
    }
  }

  &__input:focus ~ &__input-icon {
    fill: $highlight-color;
  }

  &__input-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
  }

  &__textarea {
    resize: none;
    padding-top: 12px;
    padding-left: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 20px;

    &:focus {
      border-color: $highlight-color;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.67;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include tablet {
      margin-bottom: -15px;
    }

    @include desktop {
      margin-bottom: -20px;
    }

    &-submit {
      width: 200px;
      height: 50px;
      background: $highlight-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.06em;
      color: #ffffff;
      // margin-top: 30px;
      cursor: pointer;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.checkbox {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  margin: 0 auto;

  @include desktop {
    font-size: 12px;
  }

  &--hidden {
    display: none;
    &:checked ~ .checkbox__inset > .checkbox__inset-img {
      opacity: 1;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__inset {
    position: relative;
    border: 3px solid #212121;
    border-radius: 2px;
    width: 16px;
    height: 16px;

    &-img {
      position: absolute;
      top: -3px;
      left: -3px;
      background-color: $highlight-color;
      border-radius: 2px;
    }

    &-text {
      color: $highlight-color;
    }

    & > .checkbox__inset-img {
      opacity: 0;
    }

    &__link {
      color: $highlight-color;
    }
  }
}
