.buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.button--secondary {
  background-color: #f5f4fa;
  border: none;
  color: var(--main-color);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 500;
  line-height: 1.62;
  border-style: none;
  padding: 6px 22px 6px 22px;
  margin-left: 4px;
  margin-right: 4px;
  font-family: Roboto;
  letter-spacing: 0.03em;


&:hover,
&:focus {
  color: #ffffff;
  background-color: $highlight-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}