// .buttons {
//   display: flex;
//   justify-content: center;
//   padding-bottom: 50px;
// }

// .button--secondary {
//   background-color: #f5f4fa;
//   border: none;
//   color: var(--main-color);
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-weight: 500;
//   line-height: 1.62;
//   border-style: none;
//   padding: 6px 22px 6px 22px;
//   margin-left: 4px;
//   margin-right: 4px;
//   font-family: Roboto;
//   letter-spacing: 0.03em;

// &:hover,
// &:focus {
//   color: #ffffff;
//   background-color: $highlight-color;
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
// }

.filter {
  margin-bottom: -60px;
  list-style-type: none;
  @include desktop {
    margin-bottom: -94px;
  }
  &__buttons {
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 8px;
    justify-content: flex-start;
    margin-bottom: -44px;
    @include tablet {
      justify-content: center;
    }
    @include desktop {
      justify-content: center;
    }
  }
  &__button {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-color;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:is(:hover, :focus) {
      background-color: $highlight-color;
      border-radius: 4px;
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}
