.gallery {
  justify-items: left;

      @include tablet {

  }

  @include desktop {
    
  }
}

.overlay {
  display: block;
  width: 100%;
  height: 294px;
  object-fit: cover;
  position: relative;
  overflow: hidden;

      @include tablet {

  }

  @include desktop {
    
  }

  &__text {
    width: 370px;
    height: 100%;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: left;
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;

        @include tablet {

  }

  @include desktop {
    
  }
  }
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  list-style: none;
  margin: 0px;

      @include tablet {

  }

  @include desktop {
    
  }

  &__title {
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 4px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: left;

        @include tablet {

  }

  @include desktop {
    
  }
  }

  &__opcion {
    padding: 0px 24px 25px 24px;
    margin: 0px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    text-align: left;
    color: secondary-color;

        @include tablet {

  }

  @include desktop {
    
  }
  }
}

.pictures__portfolio {
  flex-basis: calc((1170px - 60px) / 3);
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  box-sizing: border-box;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  transition-property: box-shadow;

      @include tablet {

  }

  @include desktop {
    
  }

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    & .overlay__text {
      transform: translateY(0);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

         @include tablet {

  }

  @include desktop {
    
  }
    }
  }
}
