.team {
  background-color: #f5f4fa;

  &__card {
    padding: 30px 32px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @include desktop {
      flex-wrap: nowrap;
    }
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    border: 0 solid #eeeeee;
    text-align: center;
    width: 450px;

    @include tablet {
      width: 354px;
    }

    @include desktop {
      width: 270px;
    }

    & > img {
      vertical-align: middle;
      width: 100%;
      height: auto;
    }
  }

  &__name {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__position {
    color: $secondary-color;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__item &__position {
    margin-top: 10px;
    margin-bottom: 16px;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.icon__container {
  margin: 16px 0px 30px 0px;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.icon__social-media {
  fill: #afb1b8;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $highlight-color;
    fill: #ffffff;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
