$main-color: #212121;
$secondary-color: #757575;
$highlight-color: #2196f3;

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 1200px) {
        @content;
    }
}
